*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    background: #fff;
}

.kratos-item{
    transition:all 0.4s ease-in-out;
}
.kratos-item a{
    color: #000;
    font-weight: bold;    
    transition:all 0.4s ease-in-out;
}
.kratos-item a:hover{
    color: rgb(0, 207, 104);
}

li.kratos-item:hover{
    background: rgb(219, 255, 252);
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 82, 41, 0.301);
    transform: translate3d(4px,4px,4px);
}

.kratos-content-wrapper{
    background: #fff;
}

td{
    cursor: pointer;
}

.kratosBodyImage{
    background-image: url("./assets/img/blue.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}

.kratosCard{
    background-color: #00000099;
    border:1px solid #000;
    padding: 2rem;
    color: #fff;
    box-shadow: 0px 10px 15px #000;
    border-radius: 5px;
    font-weight: bolder;
}

.kratosInput{
    background: #202020;
}

.kratosSidebar{
    background: #eeeeee;
}